@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
    
}
.main{
    height: 100%;
    width: 100%;
    background-color: white;
}
.nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 40px;
}
.nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-part1 h3{
    font-size: 16px;
    border: 1px solid #000;
    padding: 5px 10px;
    border-radius: 50px;
    font-weight: 500;
}
.nav-part1 i{
    font-size: 16px;
    border: 1px solid #000;
    padding: 5px 10px;
    border-radius: 50px;
}
.nav-part2 h1{
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
}
.nav-part3 button{
    padding: 7px 12px;
    border-radius: 50px;
    border: 1px solid #000;
    outline: 0;
    font-weight: 550;
    font-size: 16px;
    background-color: white;
}
#signup{
    border: none;
    color: white;
    background-color: orangered;
}
.main>h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 180px;
    width: 100%;
    text-align: center;
}
img{
    height: 500px;
    width: 400px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
}
#img1{
    transform: translate(-50%,-50%) rotate(-30deg);
}
#img2{
    transform: translate(-50%,-50%) rotate(-20deg);
}
#img3{
    transform: translate(-50%,-50%) rotate(-10deg);
}

.main>h5{
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 16px;
}
.footer{
    position: absolute;
    bottom: 5%;
    right: 3%;
    font-size: 20px;
}
#heading-footer{
    font-size: 16px;
    margin-top: 5px;
}
::-webkit-scrollbar{
    display: none;
}
